.container {
  width: 31.2vw;
  min-height: 100vh;
  // overflow-y: scroll;
  // overflow-x: auto;
  background-color: white;

  // &::-webkit-scrollbar {
  //   width: 5px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: #63303a;
  // }
  // &::-webkit-scrollbar-track {
  //   background-color: #00ff0000;
  // }

  @media screen and (min-width: 500px) {
    min-width: 500px;
  }

  @media screen and (max-width: 500px) {
    width: 100vw;
  }
}
