$logo: #000000;
$black: #1b1b1b;
$menu: #0a0a0a;

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 32px 25px;
  list-style-type: none;
  position: relative;
}

.logo {
  font-size: 28px;
  font-family: "Pattaya", sans-serif;
  color: $logo;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.login {
  color: $black;
  font-size: 14px;
  cursor: pointer;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}

.menu {
  cursor: pointer;
}
